<div class="forest-wrap">
  <div class="container">
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
  </div>

  <h1 class="search-results">
    Parties Within
    <span class="search-distance">20 </span>
    Miles!
  </h1>
  <div class="event-needs"></div>
  <div class="results">
    <div class="panel imgLiquidFill imgLiquid search-photo-box" id="brocolli">
      <%= link_to "#{image_tag("http://www.scenicreflections.com/files/Vegetable_Garden_Wallpaper_8812t.jpg")}".html_safe, :root %>
      <p class="search-text">Forest Party</p>
    </div>
    <div class="panel imgLiquidFill imgLiquid search-photo-box" id="cole">
      <%= link_to "#{image_tag("http://0.tqn.com/d/sanfrancisco/1/0/K/X/-/-/colorfulvics800.jpg")}".html_safe, :root %>
      <p class="search-text">Cole Valley Party</p>
    </div>
    <div class="panel imgLiquidFill imgLiquid search-photo-box" id="richmond">
      <%= link_to "#{image_tag("http://richmondsfblog.com/images/richmondmap.png")}".html_safe, :root %>
      <p class="search-text">Richmond's Epic Event</p>
    </div>
    <div class="panel imgLiquidFill imgLiquid search-photo-box" id="hipster">
      <%= link_to "#{image_tag("http://sanfrancisco.grubstreet.com/20100126_dolores_560x375.jpg")}".html_safe,  "/forests/1" %>
      <p class="search-text">Hipsterpalooza</p>
    </div>
    <div class="panel imgLiquidFill imgLiquid search-photo-box" id="park">
      <%= link_to "#{image_tag("http://images2.wikia.nocookie.net/__cb20110226214303/charmed/images/c/cc/Golden-gate-park.jpg")}".html_safe, :root %>
      <p class="search-text">Park Party</p>
    </div>
    <div class="panel imgLiquidFill imgLiquid search-photo-box" id="noe">
      <%= link_to "#{image_tag("http://davidpames.com/image_store/uploads/5/5/8/1/7/ar130084290771855.jpg")}".html_safe, :root %>
      <p class="search-text">Noe Doubt</p>
    </div>
    <div class="panel imgLiquidFill imgLiquid search-photo-box" id="bernal">
      <%= link_to "#{image_tag("http://farm8.staticflickr.com/7237/7384800920_bc9b15d971_z.jpg")}".html_safe, :root %>
      <p class="search-text">Such Great Heights</p>
    </div>
    <div class="panel imgLiquidFill imgLiquid search-photo-box" id="castro">
      <%= link_to "#{image_tag("http://www.sfiop.org/wp-content/uploads/2013/05/castro-theater-san-francisco.jpg")}".html_safe, :root %>
      <p class="search-text">Castro Theatre Showing</p>
    </div>
  </div>
</div>
